@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Josefin Sans";
  --color-primary: #5b21b6;
  --color-dark: #3c1d95;
  --color-lighter: #f3f3ff;
  --color-light: #ddd6fe;
  --color-normalbg: #f3f4f6;
  --color-darkbg: #1e2939;
}
